180573
Batungbacal
3 AB MEC

### Problem 1

In [25]:
social_graph = {
    "@bongolpoc":{"first_name":"Joselito",
                  "last_name":"Olpoc",
                  "following":[
                  ]
    },
    "@joaquin":  {"first_name":"Joaquin",
                  "last_name":"Gonzales",
                  "following":[
                      "@chums","@jobenilagan"
                  ]
    },
    "@chums" : {"first_name":"Matthew",
                "last_name":"Uy",
                "following":[
                    "@bongolpoc","@miketan","@rudyang","@joeilagan"
                ]
    },
    "@jobenilagan":{"first_name":"Joben",
                   "last_name":"Ilagan",
                   "following":[
                    "@eeebeee","@joeilagan","@chums","@joaquin"
                   ]
    },
    "@joeilagan":{"first_name":"Joe",
                  "last_name":"Ilagan",
                  "following":[
                    "@eeebeee","@jobenilagan","@chums"
                  ]
    },
    "@eeebeee":  {"first_name":"Elizabeth",
                  "last_name":"Ilagan",
                  "following":[
                    "@jobenilagan","@joeilagan"
                  ]
    },
}

In [27]:
def relationship_status(from_member, to_member):
    following1 = social_graph[from_member]['following']
    following2 = social_graph[to_member]['following']
    
    if to_member in following1:
        if from_member in following2:
            return 'Friends'
        else:
            return 'Following'
    else:
        if from_member in following2:
            return 'Followed by'
        else:
            return None
            
print(relationship_status('@bongolpoc','@chums'))

Followed by

### Problem 2

In [10]:
board1 = [
['X','X','O'],
['O','X','O'],
['O','','X'],
]

board2 = [
['X','X','O'],
['O','X','O'],
['','O','X'],
]

board3 = [
['O','X','O'],
['','O','X'],
['X','X','O'],
]

board4 = [
['X','X','X'],
['O','X','O'],
['O','','O'],
]

board5 = [
['X','X','O'],
['O','X','O'],
['X','','O'],
]

board6 = [
['X','X','O'],
['O','X','O'],
['X','',''],
]

In [23]:
def get_winner(board):
    winner = None
    from_upper_diagonal = [board[i][i] for i in range(3)]
    from_lower_diagonal = [board[3-1-i][i] for i in range(3)]
    first_column = [i for i in zip(*board)][0]
    second_column = [i for i in zip(*board)][1]
    third_column = [i for i in zip(*board)][2]
    first_row = board[0]
    second_row = board[1]
    third_row = board[2]
    
    if len(set(from_upper_diagonal))==1:
        winner = from_upper_diagonal[0]
        
    elif len(set(from_lower_diagonal))==1:
        winner = from_lower_diagonal[0]
        
    elif len(set(first_column))==1:
        winner = first_column[0]
        
    elif len(set(second_column))==1:
        winner = second_column[0]
        
    elif len(set(third_column))==1:
        winner = third_column[0]
        
    elif len(set(first_row))==1:
        winner = first_row[0]
        
    elif len(set(second_row))==1:
        winner = second_row[0]
        
    elif len(set(third_row))==1:
        winner = third_row[0]
        
    else:
        pass
        
    return winner
    
print(get_winner(board6))

None

### Problem 3

During the pandemic, a shuttle van service is tasked to travel along a predefined circular route as follows:

- UP Diliman->Ateneo de Manila (Estimated Time: 10 mins)
- Ateneo de Manila->De La Salle Taft (Estimated Time: 35 mins)
- De La Salle Taft->UP Diliman (Estimated Time: 55 mins)

The route is one-way only. So, the van cannot go back directly to UP Diliman from Ateneo de Manila; rather, it will have to drop by De La Salle Taft first before going to UP Diliman.

Write a function called eta that accepts the source and destination of the van and returns the estimated number of minutes to reach the destination.

In [48]:
locations = {
    "admu":{
        "name":"Ateneo de Manila University",
        "latitude":14.6394557,
        "longitude":121.0758975        
    },
    "upd":{
        "name":"University of the Philippines-Diliman Campus",
        "latitude":14.6538519,
        "longitude":121.0663348
    },
    "dlsu":{
        "name":"De La Salle University-Taft",
        "latitude":14.5647346,
        "longitude":120.9909876

    }, # <-- Note that Python does not complain about this extra comma. This is perfectly okay.
       #     The creators of Python saw that dictionaries tend to be changed a lot, so allowing this is a
       #     convenience for developers who need to add elements when needed.
}

legs = {
     ("upd","admu"):{
         "travel_time_mins":10
     },
     ("admu","dlsu"):{
         "travel_time_mins":35
     },
     ("dlsu","upd"):{
         "travel_time_mins":55
     }
}

def eta(source,destination):
    
    for s in legs.keys():
        if source == s[0]:
            trip1 = legs[s]['travel_time_mins']
            if destination == s[1]:
                return trip1
            else:
                for d in legs.keys():
                    if destination == d[1]:
                        trip2 = legs[d]['travel_time_mins']
                        return int(trip1)+int(trip2)
                    
print(eta('admu','upd'))

90